In [1]:
import pandas as pd
import numpy as np

In [69]:
import datetime as dt

In [50]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, accuracy_score

In [30]:
pip install plotly

Collecting plotly
  Downloading plotly-5.4.0-py2.py3-none-any.whl (25.3 MB)
Requirement already satisfied: six in c:\users\zero-\anaconda3\lib\site-packages (from plotly) (1.16.0)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.4.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [38]:
import plotly

In [31]:
import plotly.express as px

In [32]:
import plotly.express as px 
import plotly.graph_objects as go
import plotly.io as pio

In [34]:
pio.renderers.defaults = 'iframe'

In [2]:
train = pd.read_csv('train.csv')

In [4]:
train.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [5]:
train.columns

Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
       'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
       'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
       'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
       'P36', 'P37', 'revenue'],
      dtype='object')

In [6]:
train.drop('Id', axis='columns', inplace=True)

In [11]:
train.columns =  train.columns.str.lower()

In [13]:
train.columns = train.columns.str.replace(' ','_')

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   open_date   137 non-null    object
 1   city        137 non-null    object
 2   city_group  137 non-null    object
 3   type        137 non-null    object
 4   p1          137 non-null    int64
 5   p2          137 non-null    float64
 6   p3          137 non-null    float64
 7   p4          137 non-null    float64
 8   p5          137 non-null    int64
 9   p6          137 non-null    int64
 10  p7          137 non-null    int64
 11  p8          137 non-null    int64
 12  p9          137 non-null    int64
 13  p10         137 non-null    int64
 14  p11         137 non-null    int64
 15  p12         137 non-null    int64
 16  p13         137 non-null    float64
 17  p14         137 non-null    int64
 18  p15         137 non-null    int64
 19  p16         137 non-null    int64
 20  p17         137 non-null    int64
 21  p18         137 non-null    int64
 22  p19         137 non-null    int64
 23  p20         137 non-null    int64
 24  p21         137 non-null    int64
 25  p22         137 non-null    int64
 26  p23         137 non-null    int64
 27  p24         137 non-null    int64
 28  p25         137 non-null    int64
 29  p26         137 non-null    float64
 30  p27         137 non-null    float64
 31  p28         137 non-null    float64
 32  p29         137 non-null    float64
 33  p30         137 non-null    int64
 34  p31         137 non-null    int64
 35  p32         137 non-null    int64
 36  p33         137 non-null    int64
 37  p34         137 non-null    int64
 38  p35         137 non-null    int64
 39  p36         137 non-null    int64
 40  p37         137 non-null    int64
 41  revenue     137 non-null    float64
dtypes: float64(9), int64(29), object(4)
memory usage: 45.1+ KB

In [27]:
train.head()

,open_date,city,city_group,type,p1,p2,p3,p4,p5,p6,...,p29,p30,p31,p32,p33,p34,p35,p36,p37,revenue
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [28]:
train.corr()

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,...,p29,p30,p31,p32,p33,p34,p35,p36,p37,revenue
p1,1.000000,0.836671,0.695928,0.677941,0.302820,0.747296,0.853753,0.760820,0.765743,0.795885,...,0.586532,0.487589,0.479175,0.552593,0.329795,0.570835,0.449182,0.554951,0.277601,0.070217
p2,0.836671,1.000000,0.473551,0.540322,0.203003,0.673106,0.769842,0.505116,0.481635,0.498135,...,0.322511,0.342005,0.353477,0.389376,0.234991,0.394319,0.314798,0.387938,0.161162,0.191518
p3,0.695928,0.473551,1.000000,0.443606,0.168891,0.570486,0.651489,0.689173,0.741967,0.764191,...,0.571525,0.473089,0.406701,0.463217,0.312269,0.501575,0.428504,0.484942,0.284065,-0.024613
p4,0.677941,0.540322,0.443606,1.000000,0.715406,0.595724,0.700482,0.654594,0.675336,0.685416,...,0.452364,0.387747,0.333626,0.440795,0.182820,0.434245,0.277902,0.411664,0.177916,0.035685
p5,0.302820,0.203003,0.168891,0.715406,1.000000,0.326524,0.446154,0.447577,0.465662,0.462299,...,0.306904,0.244032,0.112603,0.215568,0.071079,0.243040,0.173309,0.193652,0.033548,-0.028191
p6,0.747296,0.673106,0.570486,0.595724,0.326524,1.000000,0.738388,0.720144,0.676323,0.654594,...,0.563415,0.460618,0.477593,0.519243,0.300611,0.519635,0.413645,0.524552,0.327594,0.139094
p7,0.853753,0.769842,0.651489,0.700482,0.446154,0.738388,1.000000,0.751196,0.775003,0.775642,...,0.584071,0.509213,0.452471,0.531011,0.339178,0.562561,0.457721,0.543563,0.309678,0.051165
p8,0.760820,0.505116,0.689173,0.654594,0.447577,0.720144,0.751196,1.000000,0.919956,0.881650,...,0.754736,0.454937,0.420425,0.516617,0.256416,0.524474,0.405709,0.499777,0.308294,-0.084215
p9,0.765743,0.481635,0.741967,0.675336,0.465662,0.676323,0.775003,0.919956,1.000000,0.961266,...,0.789784,0.502670,0.467334,0.544749,0.326869,0.582042,0.467916,0.551953,0.330927,-0.050352
p10,0.795885,0.498135,0.764191,0.685416,0.462299,0.654594,0.775642,0.881650,0.961266,1.000000,...,0.789510,0.514738,0.462235,0.549238,0.320317,0.601956,0.483010,0.565068,0.313748,-0.073220
p11,0.542735,0.442719,0.417752,0.585285,0.435002,0.432959,0.503903,0.230823,0.398431,0.479873,...,0.292211,0.410573,0.300331,0.358379,0.244698,0.401866,0.291108,0.383485,0.158579,0.084247
p12,0.708360,0.428065,0.684071,0.595115,0.409181,0.637594,0.733115,0.889829,0.971593,0.930453,...,0.797455,0.433005,0.403691,0.471691,0.281619,0.519051,0.426274,0.491803,0.304963,-0.062193
p13,0.708896,0.410924,0.697519,0.571611,0.380722,0.558621,0.702162,0.810365,0.905105,0.966112,...,0.740722,0.466337,0.425461,0.499431,0.302684,0.555712,0.457633,0.520219,0.295972,-0.105085
p14,0.491638,0.365777,0.393765,0.347917,0.079245,0.422343,0.457255,0.351134,0.413468,0.420093,...,0.304980,0.812712,0.795637,0.840592,0.801055,0.853824,0.815550,0.892459,0.776719,0.006441
p15,0.473155,0.358841,0.379107,0.287313,0.044635,0.426646,0.429170,0.303275,0.379923,0.398334,...,0.299711,0.743738,0.798711,0.797193,0.806085,0.813125,0.819329,0.890441,0.768268,0.000742
p16,0.544892,0.396337,0.471427,0.379619,0.164822,0.520707,0.529988,0.456162,0.517326,0.535717,...,0.425590,0.869697,0.899675,0.928434,0.823748,0.941628,0.899202,0.981550,0.801029,-0.037997
p17,0.412963,0.332134,0.327644,0.235605,0.038805,0.380396,0.365565,0.294639,0.333071,0.324461,...,0.224734,0.739895,0.770449,0.772197,0.716934,0.735778,0.781719,0.812184,0.726738,0.067137
p18,0.478503,0.348191,0.425214,0.359393,0.193489,0.453924,0.496990,0.430591,0.488788,0.499097,...,0.420248,0.836870,0.900439,0.915038,0.861861,0.926000,0.916872,0.952266,0.833428,-0.034537
p19,0.802494,0.595681,0.648948,0.725829,0.509874,0.530297,0.758294,0.667079,0.717049,0.757235,...,0.417782,0.466695,0.369915,0.437442,0.298000,0.453496,0.346822,0.425475,0.226764,0.027984
p20,0.820953,0.668683,0.682262,0.579561,0.343363,0.664487,0.793642,0.612958,0.710714,0.730183,...,0.505358,0.593911,0.505542,0.567801,0.420983,0.610553,0.529064,0.587118,0.326929,0.014147
p21,0.654138,0.522294,0.559543,0.545285,0.342726,0.427613,0.604106,0.420807,0.559405,0.626075,...,0.267466,0.482010,0.429568,0.481878,0.373014,0.525638,0.437753,0.501181,0.273409,0.097411
p22,0.389116,0.476538,0.243983,0.076177,-0.198689,0.206913,0.270211,0.045803,0.055999,0.096495,...,-0.148172,0.170901,0.181702,0.169877,0.178341,0.143249,0.156648,0.165467,0.108030,0.083562
p23,0.702120,0.513936,0.602325,0.559099,0.354058,0.486043,0.651876,0.512021,0.621546,0.697081,...,0.393031,0.475536,0.367508,0.433061,0.316115,0.470396,0.399514,0.448681,0.216329,0.045507
p24,0.425720,0.354225,0.337895,0.213535,0.020124,0.461674,0.375711,0.323116,0.339668,0.342099,...,0.247974,0.732452,0.823207,0.787841,0.770173,0.763692,0.813077,0.830078,0.787741,0.014222
p25,0.472057,0.378042,0.358244,0.285547,0.042141,0.485535,0.404787,0.358971,0.379653,0.370928,...,0.269835,0.760051,0.850616,0.849365,0.765023,0.792694,0.781572,0.870674,0.809613,0.036365
p26,0.505437,0.409526,0.393404,0.288684,0.052430,0.524207,0.437787,0.396246,0.412378,0.417413,...,0.308637,0.790324,0.864259,0.859348,0.764947,0.834661,0.817260,0.888330,0.778074,-0.007650
p27,0.280761,0.195660,0.257228,0.109555,0.008393,0.334761,0.279604,0.319507,0.308448,0.296928,...,0.270460,0.654312,0.675237,0.649870,0.748135,0.661309,0.723519,0.689364,0.805824,-0.013680
p28,0.843738,0.732712,0.643420,0.641971,0.323253,0.729083,0.739868,0.630284,0.635144,0.669822,...,0.331344,0.438447,0.369772,0.457892,0.264879,0.448928,0.341164,0.454263,0.215078,0.155534
p29,0.586532,0.322511,0.571525,0.452364,0.306904,0.563415,0.584071,0.754736,0.789784,0.789510,...,1.000000,0.356722,0.371893,0.425120,0.249646,0.490329,0.384401,0.457660,0.296405,-0.114846
p30,0.487589,0.342005,0.473089,0.387747,0.244032,0.460618,0.509213,0.454937,0.502670,0.514738,...,0.356722,1.000000,0.840158,0.881481,0.790581,0.918200,0.874635,0.904491,0.736656,-0.066203
p31,0.479175,0.353477,0.406701,0.333626,0.112603,0.477593,0.452471,0.420425,0.467334,0.462235,...,0.371893,0.840158,1.000000,0.934778,0.803785,0.864144,0.823262,0.901940,0.787904,-0.040418
p32,0.552593,0.389376,0.463217,0.440795,0.215568,0.519243,0.531011,0.516617,0.544749,0.549238,...,0.425120,0.881481,0.934778,1.000000,0.760670,0.930014,0.837858,0.958152,0.758060,-0.065857
p33,0.329795,0.234991,0.312269,0.182820,0.071079,0.300611,0.339178,0.256416,0.326869,0.320317,...,0.249646,0.790581,0.803785,0.760670,1.000000,0.797647,0.867296,0.816293,0.879400,-0.032426
p34,0.570835,0.394319,0.501575,0.434245,0.243040,0.519635,0.562561,0.524474,0.582042,0.601956,...,0.490329,0.918200,0.864144,0.930014,0.797647,1.000000,0.917651,0.970234,0.741039,-0.072343
p35,0.449182,0.314798,0.428504,0.277902,0.173309,0.413645,0.457721,0.405709,0.467916,0.483010,...,0.384401,0.874635,0.823262,0.837858,0.867296,0.917651,1.000000,0.904110,0.797640,-0.050156
p36,0.554951,0.387938,0.484942,0.411664,0.193652,0.524552,0.543563,0.499777,0.551953,0.565068,...,0.457660,0.904491,0.901940,0.958152,0.816293,0.970234,0.904110,1.000000,0.805416,-0.050534
p37,0.277601,0.161162,0.284065,0.177916,0.033548,0.327594,0.309678,0.308294,0.330927,0.313748,...,0.296405,0.736656,0.787904,0.758060,0.879400,0.741039,0.797640,0.805416,1.000000,-0.019051
revenue,0.070217,0.191518,-0.024613,0.035685,-0.028191,0.139094,0.051165,-0.084215,-0.050352,-0.073220,...,-0.114846,-0.066203,-0.040418,-0.065857,-0.032426,-0.072343,-0.050156,-0.050534,-0.019051,1.000000

In [36]:
corr_matrix = px.scatter_matrix(train)

In [39]:
plotly.offline.plot(corr_matrix, filename='corr_matrix.html')

'corr_matrix.html'

In [40]:
train.head()

,open_date,city,city_group,type,p1,p2,p3,p4,p5,p6,...,p29,p30,p31,p32,p33,p34,p35,p36,p37,revenue
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [67]:
train.head()

,open_date,city,city_group,type,p1,p2,p3,p4,p5,p6,...,p29,p30,p31,p32,p33,p34,p35,p36,p37,revenue
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [74]:
pd.to_datetime(train['open_date'])[0]

Timestamp('1999-07-17 00:00:00')

In [77]:
int(dt.datetime.timestamp(pd.to_datetime(train['open_date'])[0])*1000)

932158800000

In [78]:
train['open_date'] = pd.to_datetime(train['open_date'])

In [80]:
date_timestamp_list = []
for date in train['open_date']:
    date_timestamp_list.append(int(dt.datetime.timestamp(date)*1000))

In [94]:
train['open_month'] = train['open_date'].dt.month
train['open_month'] = train['open_month'].astype(int)

In [95]:
train['open_year'] = train['open_date'].dt.year
train['open_year'] = train['open_year'].astype(int)

In [81]:
train['date_timestamp'] = date_timestamp_list

In [41]:
len(train.columns)

42

In [43]:
train.shape

(137, 42)

In [199]:
rng = np.random.default_rng(1488)
valid_test_idx = list(rng.integers(low=0, high=137, size=int(len(train)*0.2)))

In [200]:
train.head()

,open_date,city,city_group,type,p1,p2,p3,p4,p5,p6,...,p35,p36,p37,revenue,date_timestamp,open_month,open_year,city_name_num,city_group_bool,type_group
0,1999-07-17,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,4,3,4,5653753.0,932158800000,7,1999,0,0,0
1,2008-02-14,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,0,0,0,6923131.0,1202936400000,2,2008,1,0,1
2,2013-03-09,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,0,0,0,2055379.0,1362776400000,3,2013,2,1,0
3,2012-02-02,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,12,12,6,2675511.0,1328130000000,2,2012,3,1,0
4,2009-05-09,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,4,3,3,4316715.0,1241816400000,5,2009,4,1,0

In [201]:
train['city'].nunique()

34

In [202]:
range(0,34)

range(0, 34)

In [203]:
train['city'].unique()

array(['İstanbul', 'Ankara', 'Diyarbakır', 'Tokat', 'Gaziantep',
       'Afyonkarahisar', 'Edirne', 'Kocaeli', 'Bursa', 'İzmir', 'Sakarya',
       'Elazığ', 'Kayseri', 'Eskişehir', 'Şanlıurfa', 'Samsun', 'Adana',
       'Antalya', 'Kastamonu', 'Uşak', 'Muğla', 'Kırklareli', 'Konya',
       'Karabük', 'Tekirdağ', 'Denizli', 'Balıkesir', 'Aydın', 'Amasya',
       'Kütahya', 'Bolu', 'Trabzon', 'Isparta', 'Osmaniye'], dtype=object)

In [110]:
cities_dict = {}

num=0
cities_list = list(train['city'].unique())

for city_index in range(len(cities_list)):
    cities_dict[cities_list[city_index]] = num
    num+=1

In [113]:
train['city_name_num'] = train['city'].map(cities_dict)

In [117]:
train.head()

,open_date,city,city_group,type,p1,p2,p3,p4,p5,p6,...,p33,p34,p35,p36,p37,revenue,date_timestamp,open_month,open_year,city_name_num
0,1999-07-17,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,5,5,4,3,4,5653753.0,932158800000,7,1999,0
1,2008-02-14,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,0,0,0,0,0,6923131.0,1202936400000,2,2008,1
2,2013-03-09,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,0,0,0,0,0,2055379.0,1362776400000,3,2013,2
3,2012-02-02,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,6,18,12,12,6,2675511.0,1328130000000,2,2012,3
4,2009-05-09,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,2,3,4,3,3,4316715.0,1241816400000,5,2009,4

In [118]:
cities_group_dict = {}

num=0
city_group_list = list(train['city_group'].unique())

for city_group_index in range(len(city_group_list)):
    cities_group_dict[city_group_list[city_group_index]] = num
    num+=1

In [119]:
cities_group_dict

{'Big Cities': 0, 'Other': 1}

In [121]:
train['city_group_bool']=train['city_group'].map(cities_group_dict)

In [126]:
train['type'].nunique()

3

In [127]:
type_dict = {}

num=0
type_list = list(train['type'].unique())

for type_index in range(len(type_list)):
    type_dict[type_list[type_index]] = num
    num+=1

In [128]:
train['type_group']=train['type'].map(type_dict)

In [204]:
train_df, valid_df = train_test_split(train[~train.index.isin(valid_test_idx)], test_size = 0.25, random_state = 1488)

In [205]:
train_df.columns

Index(['open_date', 'city', 'city_group', 'type', 'p1', 'p2', 'p3', 'p4', 'p5',
       'p6', 'p7', 'p8', 'p9', 'p10', 'p11', 'p12', 'p13', 'p14', 'p15', 'p16',
       'p17', 'p18', 'p19', 'p20', 'p21', 'p22', 'p23', 'p24', 'p25', 'p26',
       'p27', 'p28', 'p29', 'p30', 'p31', 'p32', 'p33', 'p34', 'p35', 'p36',
       'p37', 'revenue', 'date_timestamp', 'open_month', 'open_year',
       'city_name_num', 'city_group_bool', 'type_group'],
      dtype='object')

In [131]:
features_train = train_df.drop(['revenue','date_timestamp','open_date','city','city_group','type'], axis='columns')
target_train = train_df['revenue']

In [132]:
features_valid = valid_df.drop(['revenue','date_timestamp','open_date','city','city_group','type'], axis='columns')
target_valid = valid_df['revenue']

In [207]:
test_valid_df = train[train.index.isin(valid_test_idx)]

In [211]:
features_test_valid_df = test_valid_df.drop(['revenue','date_timestamp','open_date','city','city_group','type'], axis='columns')
target_test_valid_df = test_valid_df['revenue']

In [158]:
locally_best_tree.param_grid

{'criterion': ['squared_error'], 'max_features': ['auto', 'sqrt', 'log2']}

In [157]:
locally_best_tree.best_params_

{'criterion': 'squared_error', 'max_features': 'auto'}

In [192]:
tree_params = {'criterion' : ['poisson'],
               'max_depth' : range(1,10),
              'max_features' : ['auto','sqrt','log2']}

In [193]:
locally_best_tree = GridSearchCV(RandomForestRegressor(random_state=554321), tree_params)
locally_best_tree.fit(features_train, target_train)

GridSearchCV(estimator=RandomForestRegressor(random_state=554321),
             param_grid={'criterion': ['poisson'], 'max_depth': range(1, 10),
                         'max_features': ['auto', 'sqrt', 'log2']})

In [194]:
locally_best_tree.best_params_

{'criterion': 'poisson', 'max_depth': 1, 'max_features': 'log2'}

In [195]:
locally_best_tree.best_score_

-0.28616071807419485

In [196]:
locally_best_tree_valid_predictions = locally_best_tree.predict(features_valid)

In [197]:
result = mean_squared_error(target_valid, locally_best_tree_valid_predictions)**0.5

In [198]:
result

3430831.1687779403

In [190]:
result > 3444174.01030

False

In [177]:
locally_best_tree_valid_predictions = locally_best_tree.predict(features_valid)

In [178]:
locally_best_tree_valid_predictions = locally_best_tree.predict(features_test_valid_df)
result = mean_squared_error(target_valid, locally_best_tree_valid_predictions)**0.5
result

3114052.1799138407

In [213]:
locally_best_tree_valid_predictions = locally_best_tree.predict(features_test_valid_df)
result = mean_squared_error(target_test_valid_df, locally_best_tree_valid_predictions)**0.5
result

2065444.8304085338

In [214]:
result - 1749736.26157

315708.5688385337

In [215]:
locally_best_tree

GridSearchCV(estimator=RandomForestRegressor(random_state=554321),
             param_grid={'criterion': ['poisson'], 'max_depth': range(1, 10),
                         'max_features': ['auto', 'sqrt', 'log2']})

In [216]:
locally_best_tree.best_estimator_

RandomForestRegressor(criterion='poisson', max_depth=1, max_features='log2',
                      random_state=554321)

In [221]:
locally_best_tree.featur

AttributeError: 'GridSearchCV' object has no attribute 'feature_names_in_'

In [60]:
[range(4,45)]

[range(4, 45)]

In [16]:
test=pd.read_csv('test.csv')

In [17]:
test.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0

In [19]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Id          100000 non-null  int64
 1   Open Date   100000 non-null  object
 2   City        100000 non-null  object
 3   City Group  100000 non-null  object
 4   Type        100000 non-null  object
 5   P1          100000 non-null  int64
 6   P2          100000 non-null  float64
 7   P3          100000 non-null  float64
 8   P4          100000 non-null  float64
 9   P5          100000 non-null  int64
 10  P6          100000 non-null  int64
 11  P7          100000 non-null  int64
 12  P8          100000 non-null  int64
 13  P9          100000 non-null  int64
 14  P10         100000 non-null  int64
 15  P11         100000 non-null  int64
 16  P12         100000 non-null  int64
 17  P13         100000 non-null  float64
 18  P14         100000 non-null  int64
 19  P15         100000 non-null  int64
 20  P16         100000 non-null  int64
 21  P17         100000 non-null  int64
 22  P18         100000 non-null  int64
 23  P19         100000 non-null  int64
 24  P20         100000 non-null  int64
 25  P21         100000 non-null  int64
 26  P22         100000 non-null  int64
 27  P23         100000 non-null  int64
 28  P24         100000 non-null  int64
 29  P25         100000 non-null  int64
 30  P26         100000 non-null  float64
 31  P27         100000 non-null  float64
 32  P28         100000 non-null  float64
 33  P29         100000 non-null  float64
 34  P30         100000 non-null  int64
 35  P31         100000 non-null  int64
 36  P32         100000 non-null  int64
 37  P33         100000 non-null  int64
 38  P34         100000 non-null  int64
 39  P35         100000 non-null  int64
 40  P36         100000 non-null  int64
 41  P37         100000 non-null  int64
dtypes: float64(8), int64(30), object(4)
memory usage: 32.0+ MB

In [21]:
train.head()

,open_date,city,city_group,type,p1,p2,p3,p4,p5,p6,...,p29,p30,p31,p32,p33,p34,p35,p36,p37,revenue
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [22]:
train.open_date.dtype

dtype('O')

In [23]:
train.open_date.max()

'12/31/2012'

In [24]:
train['city_group'].nunique()

2

In [25]:
train['city'].nunique()

34